*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.links{
    list-style-type: none;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    
}
.links a{
    text-decoration: none;
}
.item{
    align-items: center;
}
.margin-auto{
    /* margin-left: 50px; */
    width: 500px;
    height: 50px;
    margin: auto;
}
.first-sec{
    width: 80%;
    margin: auto;
    margin-top: 24px;
}
.cover{
    background-size: cover;
}
.video{
    width: inherit;
}
.text-pink{
    color: rgb(255, 87, 255);
}
.sec-pic{
    background-image: url(./Assets/BLOKTOPIA-3-910x1024.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sec-pic-con{
    width: 470px;
    margin: auto;
}
.img-3{
    height: 600px;
    background-image: url(./Assets/BLOKTOPIA-15-copy.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.img-3-con{
    width: 600px;
    height: 300px;
   
    
}
.bg-gray{
    background-color: rgba(0, 0, 0, 0.527);
}
.hieght{
    height: 450px;
}
.sec-2{
    width: 80%;
    height: 600px;
    margin: auto;
}
.learn-img{
    text-align: center;
    width: 250px;
    margin: auto;
}
.bg-pink{
    background-color: rgb(255, 73, 240);
}